.container-content-1 {
  background-color: #f7f7f7;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-gambar-1 {
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 0;
}

.gambar-1 {
  width: 50%;
  height: auto;
}

/* agar div map punya tinggi terlihat */
.map {
  width: 90%;
  height: 70vh; /* sesuaikan jika mau lebih tinggi */
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.06) inset;
}

